.question{
  &__container {
    @media only screen and (min-width: 650px) {
      width: 50%;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
  }
  &__input {
    display: none;
  }
  &__label {
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
   padding: 10px;
  }
}

.answers-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__answer {
    height: 35px;
  }
}

input[type="radio"]:checked+label{ background: rgba(25, 205, 22, 0.35); }