.container-questions {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.try-page{
  display: flex;
  flex-direction: column;
  &__show-results {
    color: #fff;
    background: #7801C1;
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
  }
}
.results{
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 25%);
  border-radius: 63px;
}
.modal{
  &__close {
    text-align: center;
  }
  &__title{
    font-weight: 600;
    font-size: 32px;
    margin: 5px auto;
    text-align: center;
    display: flex;
    max-width: 290px;
    &_company-desc {
      margin: 5px;
    }
  }
  &__block {
    background: rgba(196, 196, 196, 0.32);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 5px 45px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    &_desc {
      width: 70%;
    }
    &_match {
      cursor: pointer;
    }
  }
}

.desc-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  p {
    width: 50%;
  }
  &__item-name {
    font-weight: 600;
  }
}
.company-icon {
  height: 50px;
  text-align: left;
  width: 50%;
}
.company-name {
  text-align: left;
  width: 50%;

}